// Define variables
$primary-color: #007bff;

// Define styles for the navbar
.navbar {
  background-color: $primary-color;
  color: #ebe7df;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  .navbar-div {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        display: inline-block;
        
        .navbar-item {
          color: #fff;
          text-decoration: none;
          padding: 10px;
          transition: all 0.3s ease;
          
          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
}

// Define styles for the section
.section {
  padding: 20px;
  background-color: #fff5e2;


  
  .container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color:#007bff;
  }
}
